:root {
  --text-primary-default-color: #0e1318;
  --text-secondary-default-color: #000000;

  --text-primary-inverse-color: #ffffff;
}

:root {
  --btn-primary-filled-bg: #7b2fe8;
  --btn-primary-filled-hover-bg: #7b2fe8;
  --btn-primary-filled-active-bg: #620dd6;

  --btn-primary-outlined-bg: #f1f1f1;
  --btn-primary-outlined-hover-bg: #eaeaea;
  --btn-primary-outlined-active-bg: #eaeaea;
}

:root {
  --border-primary-default-color: #d7dade;
}