.filed {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.label  {
  font-size: 12px;
  font-weight: 600;
}

.input {
  margin-top: 5px;
  padding: 0 12px;
  height: 38px;

  border-radius: 8px;
  border: 1px solid rgba(53, 71, 90, .2);

  &:focus {
    outline: 1px solid #7b2fe8;
    border-color: #7b2fe8;
  }
}

.input_error {
  &:focus {
    outline: 1px solid red;
    border-color: red;
  }
}

.field_error {
  margin-top: 8px;
  color: red;
  font-size: 12px;
}